body {
    margin: 0px;
    margin-top: 42px;
    background: #181719;
    color: #FFFFFF;
}

.title-text {
    font-size: 14px;
    margin-left: 77px;
    margin-right: 648px;
    padding: 8px;
    border: 1px solid #FFFFFF;
    width: fit-content;
    font-family: 'Crimson Pro', serif;
}

.nav-bar {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.home, .collection, .about, .contact {
    margin-right: 86px;
}

.home:hover, .collection:hover, .about:hover, .contact:hover {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 8px;
}

.description-container {
    margin-top: 300px;
    margin-left: 77px;
    margin-right: 1000px;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}

.description-title {
    font-family: 'Lora', serif;
    font-size: 48px;
}

.description-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
    font-size: 24px;
}

.read-more {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

.image-room {
    width: 820px;
    height: 586px;
    float: right;
    margin-top: -460px;
    margin-right: 40px;
    margin-bottom: 500px; /* take out */
}

.postcard {
    background: #181719;
    height: 189px;
    width: 410px;
    margin-right: -750px;
    margin-top: 40px;
    float: right;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding-left: 15px;
    padding-top: 10px;
}

.image-person {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: left;

}

@media (max-width:1500px) {
    .title-text {
        margin-right: 200px;
    }
}

@media (max-width:1000px) {
    .title-text {
        margin-right: 40px;
        margin-left: 40px;
    }
    .home, .collection, .about, .contact {
        margin-right: 10px;
    }
}

/* @media (max-width:550px) {

} */
